*{
    margin: 0;
    padding: 0;
    font-family: serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
button{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
button:hover{
    background-color: #000;
    color: #fff;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.125rem;
    position: absolute;
    top: 0;
    left: 0;
}
nav .nav-brand{
    width: 200px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}
nav ul{
    display: flex;  
    margin-left: auto;
}
nav ul li{
    list-style: none;
    margin: auto 25px;
    font-size: 0.825rem;
    font-weight: bold;
}

video{
    width: 100%;
    z-index: -1;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
section p{
    font-size: 1rem;
    font-weight: 700;
    color: #aaa;
}
section h2{
    font-size: 3rem;
}

@media (max-width:592px) {
    /* video{
        height: 100vh;
    } */
}